<div>
    <h1 class="Título"><b>Números primos</b></h1>
</div>

<div class="contenedor">
<div class="np" style="background-color: aliceblue;">2</div>
<div class="np" style="background-color: aqua;">3</div>
<div class="np" style="background-color: aquamarine;">5</div>
<div class="np" style="background-color: azure;">7</div>
<div class="np" style="background-color: beige;">11</div>
<div class="np" style="background-color: bisque;">13</div>
<div class="np" style="background-color:blanchedalmond">17</div>
<div class="np" style="background-color: burlywood;">19</div>
<div class="np" style="background-color: chocolate;">23</div>
<div class="np" style="background-color: cadetblue;">29</div>
<div class="np" style="background-color: cornsilk;">31</div>
<div class="np" style="background-color: cyan;">37</div>
<div class="np" style="background-color: crimson;">41</div>
<div class="np" style="background-color: cornflowerblue;">43</div>
<div class="np" style="background-color: darkslategray;">47</div>
<div class="np" style="background-color: darkcyan;">53</div>
<div class="np" style="background-color: darkgreen;">59</div>
<div class="np" style="background-color: darkmagenta;">61</div>
<div class="np" style="background-color: darkkhaki;">67</div>
<div class="np" style="background-color: darkorchid;">71</div>
<div class="np" style="background-color: forestgreen;">73</div>
<div class="np" style="background-color: fuchsia;">79</div>
<div class="np" style="background-color: khaki;">83</div>
<div class="np" style="background-color: gold;">89</div>
<div class="np" style="background-color: salmon;">97</div>
</div>